.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }

  // ✅ Scope fieldset properly
  .MuiOutlinedInput-notchedOutline {
    background-color: white;
  }
}
